<form id="citySearch">
  <label>Search by city</label>
  <input id="cityInput" name="city" type="text">
  <input type="submit">
</form>

<div id="cityWeather">
  
</div>

<ul id="storedCities">
  
</ul>